.container {
  width: 90%;
  max-width: 400px;
  min-height: 600px;
  margin: auto;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  margin-top: 20px;
}

.container .superior-box{
  padding: 20px;
  background: #fff;
}

.header img {
  display: block;
  margin: 0 auto 20px auto;
  width: 100px;
}

.new-message input {
  width: calc(100% - 25px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
}

input::placeholder {
  font-size: 16px; /* Define o tamanho da fonte do placeholder */
  color: #888888;    /* Opcional: também está mudando a cor do placeholder */
}

.box-button button {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.new-message button:hover {
  background-color: #45a049;
}

.message-list{
  padding: 10px;
}

.message-list h3 {
  margin-bottom: 10px;
}

.message {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message p {
  margin: 0;
}

.message span {
  display: block;
  color: #888;
  font-size: 0.8em;
}
